extends layout

block content
	h1= title

	ul
		each val in bookInstanceList
			li
				a(href=val.url) #{val.book.title} : #{val.imprint} -
				if val.status=='Available'
					span.text-success #{val.status}
				else if val.status=='Maintenance'
					span.text-danger #{val.status}
				else
					span.text-warning #{val.status}

				- const date = val.dueBack.toLocaleString('en-us',{month: 'short', day: 'numeric',year: 'numeric'})
				if val.status!='Available'
					span  (Due: #{date} )

		else
			li There are no book copies in this library.
